a {
  color: #2bb673;
}
a:hover {
  color: #218d59;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #2bb673;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #2bb673;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #2bb673;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #2bb673;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #259d63;
  background-color: #2bb673;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #1c784c;
  background-color: #218d59;
}
ul.social-icons >li a:hover {
  color: #2bb673;
}
.sp-page-title {
  background: #2bb673;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #2bb673;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #2bb673;
}
.sp-module .tagscloud .tag-name:hover {
  background: #2bb673;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #2bb673;
}
.search .btn-toolbar button {
  background: #2bb673;
}
.post-format {
  background: #2bb673;
}
.voting-symbol span.star.active:before {
  color: #2bb673;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #218d59;
}
.entry-link,
.entry-quote {
  background: #2bb673;
}
blockquote {
  border-color: #2bb673;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #2bb673;
}
#sp-footer {
  background: #2bb673;
}
.sp-comingsoon body {
  background-color: #2bb673;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #2bb673;
  background-color: #2bb673;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #2bb673;
  background-color: #2bb673;
}
/***** PRESET *****/
.at-feature-item ul li:before {
    background: url(../../images/presets/preset3/tick-item-feature3.png) no-repeat;
}
.at-question-content i,
.at-count-down-item h2,
.at-work-item:hover h5,
#sp-slide-wrapper .large_bold_darkblue,
#sp-slide-wrapper strong,
#at-team .sppb-text-left i:hover,
.at-feature-item ul li:hover,
.at-team-member-social ul li,
.at-icon-box-item:hover .sppb-icon span i,
.lt-introduction .lt-intro-sub:hover h3,
#sp-slide-wrapper .ltmediumlightblack,
.lt-introduction .lt-intro-sub:hover i,
.lt-testimonial .ltsmalltext span,
.lt-banner-sub-left h3,
.lt-banner-sub-right h3 {
    color: #2bb673!important;
}
.button,
.pp-button,
#at-intro,
#at-skill,
#sp_qc_submit,
.progress-bar-sept,
#at-icon-box-bottom,
#at-pricing .sppb-row > div:nth-child(2n) .at-pricing-item-head-title,
.at-team-member:hover .at-team-member-social ul li a:hover,
.at-count-down-item h2:after,
.projects-filter a.selected, 
.projects-filter a.selected:hover,
#sp-slide-wrapper .tp-button:hover,
.at-team-item .sppb-addon-text:after,
.at-intro-banner-item .button:hover,
.at-icon-box2-item:hover span,
#sp-slide-wrapper .tp-button,
.lt-services-sub-special {
    background: #2bb673!important;
}
.blogDate {
    background: #2bb673!important;
}
#sp-slide-wrapper .lt-button:hover,
.lt-button:hover {
    border: 3px solid #2bb673;
}
.tp-button,
.projects-filter a,
.item-page .project-img,
.at-icon-box2-item:hover span {
   border-color: #2bb673!important;
}
#at-map:after {
   background: rgba(0, 224, 114, .7);
}
.projects-filter a.selected, 
.projects-filter a.selected:hover,
.projects-filter a:hover {
    background: #2bb673!important;
}
.projects-wrapper .project-img:hover .project-img-extra {
    background: rgba(43, 182, 115, .7)!important;
}